.navbar {
  padding: 1rem;
}
.main-title {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--text-color);
}
.space-between {
  justify-content: space-between;
}
.icon {
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  .menu-icon {
    display: none;
  }
}
