.aside{
    display: none;
}
.pointer{
    cursor: pointer;
}
.note-home-underline,.label-underline,.archive-underline,.trash-underline,.profile-underline{
    border-bottom: 2px solid var(--primary-color);
    width: fit-content;
}

@media screen and (min-width: 650px) {
    .aside {
        display: block;
    }
}
